<!DOCTYPE html>

<head>

</head>

<body>
    <header style="text-align:center">
        <h1>いい感じに化学の問題を作ってくれるやつ</h1>
    </header>

    <body style="text-align: center">
        <div style="font-size:30px">登録した問題文一覧</div>
        <div>
            <ul>
                <% @exercises.each do |exercise| %>
                <li style="font-weight: bold"><%= exercise.sentence %></li>
                <% end %>
                <li></li>
            </ul>
        </div>
    </body>

</body>