<!DOCTYPE html>

<head>

</head>

<body>
    <header>
        <div class="title">
            もるぱらだいす</div>
        <div class="header_contents">
            <div class="header_content">ホーム</div>
            <div class="header_content">ストック一覧</div>
            <div class="header_content">問題を作る</div>
        </div>
    </header>
    <section style="display: flex;">
        <div style="margin-top:20px">
            <div style="height:50px; text-align: center;">
                分野一覧
            </div>
            <div style="height:50px; text-align: center;">
                タイムライン
            </div>
        </div>

        <div style=" width:80%;margin: 20px auto; height:200px;background-color: white;">
            <div style="color:#3F3A3A; padding: 20px">
                <div style="font-size: 20px">最近作った問題</div>
            </div>
        </div>
    </section>

</body>