<!DOCTYPE html>

<head>

</head>

<body>
    <section style="display: flex;">
        <div style="margin-top:20px; margin:0 auto">
            <div class="fields">
                分野一覧
            </div>
            <div class="timeline"">
                    <%= link_to "物質一覧", materials_path,class: "materials"%>
            </div>
            <div class=" timeline">
                タイムライン
            </div>
        </div>
        <div style="width:80%;margin: 20px auto; height:500px;background-color: white;">
            <div style="color:#3F3A3A; padding: 20px">
                <div style="font-size: 20px; overflow: scroll">
                    <% @questions.each do |question| %>
                    <div
                        style="width:100%; height:50px; background: #55c500; text-align: center; margin:0 auto;margin-bottom: 10px">
                        <%= question.contents %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

</body>