<!DOCTYPE html>

<head>

</head>

<body>
    <section style="display: flex;">
        <div style="margin-top:20px; margin:0 auto">
            <div class="fields">
                分野一覧
            </div>
            <div class="timeline">
                タイムライン
            </div>
        </div>

        <div style="width:80%;margin: 20px auto; height:200px;background-color: white;">
            <div style="color:#3F3A3A; padding: 20px">
                <div style="font-size: 20px">
                    <% @questions.each do |question| %>
                    <%= question.contents %><br>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

</body>