<!DOCTYPE html>

<head>

</head>

<body style="margin:0; background-color:#F6F6F6;">
    <header style="height: 100px;color: white; display: flex; background: #55c500;">
        <div
            style="font-size: 40px; padding-left:30px; line-height: 100px;font-family: Verdana, Geneva, Tahoma, sans-serif">
            化学の問題</div>
        <div style="margin-left: 20px; font-size: 20px; line-height: 100px;display: flex;">ホーム</div>
        <div style="margin-left:auto;margin-right:30px;display: flex;line-height: 100px;">
            <div style="margin-left:20px; font-size: 15px;">ストック一覧</div>
            <div style="margin-left:20px; font-size: 15px;">問題を作る</div>
        </div>
    </header>
    <section>
        <div style="width:70%;margin: 20px auto; height:200px;background-color: white;">
            <div style="color:#3F3A3A; padding: 20px">
                <div style="font-size: 20px">最近作った問題</div>
            </div>
        </div>
    </section>

</body>